* {
     margin: 0;
     padding: 0;
}
 body {
     font-family: Helvetica;
     padding: 12px;
     font-size: 100%;
     background-color: #f1d0d0;
}
 h1 {
     color: #fff;
     font-size: 42px;
}
 section {
     margin: auto;
     font-size: 2em;
}
 button {
     border: 0px;
     border-radius: 14px;
     padding: 12px;
     color: #c99595;
}
 @media only screen and (min-width: 768px) {
     body {
         font-family: Helvetica;
         padding: 12px;
         font-size: 100%;
         background-color: #f1d0d0;
    }
     img {
         display: inline;
         border-bottom: 0px;
    }
     section {
         text-align: center;
    }
     #desc1, #desc2, #desc3 {
         top: 17%;
         position: absolute;
         width: 350px;
         height: 350px;
         background-color: #E5AAAA;
         color: #fff;
         display: none;
    }
     #desc1 p, #desc2 p, #desc3 p {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 20px;
    }
     #desc1 {
         left: 23%;
    }
     #desc2 {
         left: 35% 
    }
     #desc3 {
         left: 50%;
    }
     #close, #close2, #close3 {
         position: absolute;
         top: 10px;
         right: 10px;
    }
}
 footer {
     clear: both;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     padding: 5px;
     text-align: center;
     background-color: #c99595;
}
 footer a {
     line-height: 22px;
     margin-bottom: 6px;
     color: #fff;
}
 footer a:hover {
     color: #f1d0d0;
}
 
